body {
max-width:500px;
line-height:1.4;
font-family:Serif;
margin:40px auto;
padding:0 10px;
}

img {
width:100%;
}

dt {
font-weight:bold;
}

h1 {
font-size:130%;
}

h2 {
font-size:110%;
}

h3 {
font-size:100%;
}

h4 {
font-size:100%;
}

.day {
background:#fff;
color:#000;

}

.day a:link {
color:#0000ee;
}

.day a:visited {
color:#551a8b;
}

.night {
background:#000;
color:#fff1ce;
}

.night a:link {
color:#5ed7e1;
}

.night a:visited {
color:#a7eee8;
}

.frontpage {
text-align:center;
}

.navig {
font-size:90%;
text-align:center;
}

.vid {
position:relative;
padding-bottom:56.25%;
padding-top:0;
height:0;
}

.vid iframe {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

.fig {
font-style:italic;
}
